@mixin boxShadowWithGradient() {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.7rem;
    background: $linear-gradient-shadow;
  }
}

@mixin storeNumber() {
  @include h2-28-bold;
  color: $main-color;
  margin-left: auto;

  sub {
    color: $main-color;
    bottom: 0;
  }
}
